apiVersion: v1
kind: Secret
metadata:
  name: app-credentials
  namespace: kikplate
type: Opaque
stringData:
  JWT_SECRET: "change-me-jwt-secret"
  SSO_GITHUB_CLIENT_SECRET: "yout_github_client_secret"
  SSO_GOOGLE_CLIENT_SECRET: "your_google_client_secret"
  SSO_GITLAB_CLIENT_SECRET: "your_gitlab_client_secret"
